.carousel-item img {
    width: 100%; 
    z-index: 0;
    padding: 0 3px;
    transition: scale 0.3s ease-in-out;
}


.carousel-item img:hover {
    
    scale: 1.2;
    z-index: 1;
    position: relative;
}
.carousel-inner {
    overflow: visible !important;
}   