/* NETFLIX FONT */
@font-face {
	font-family: 'NetflixSansLight';
	src: url('assets/fonts/NetflixSans-Light.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'NetflixSansRegular';
	src: url('assets/fonts/NetflixSans-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NetflixSansMedium';
	src: url('assets/fonts/NetflixSans-Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NetflixSansBold';
	src: url('assets/fonts/NetflixSans-Bold.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
    font-family: NetflixSansLight;
}

h2 {
    font-family: NetflixSansBold;
}

h3 {
    font-family: NetflixSansMedium;
}
/* NETFLIX FONT */

/* ANIMAZIONE DI INGRESSO*/  

.background_black {  /*SFONDO NERO */
        background-color: black;
        z-index: 3;
        position: fixed;
        inset: 0;
        animation: overlay-fade 2s ease-in 2.1s      forwards; 
        place-items: center;
        display: grid;
        
    
}
   
.img-overlay{  /* OVERLAY LOGO NETFLIX*/
        position: fixed;
        inset: 0;
        place-items: center;
        display: grid;
        overflow: hidden;
        animation: img-fade 5s ease-in  1s       forwards;
}
    
.img-overlay img {
        width: 200px; 
}
    
.img-dissolvenza {  /*COMPARSA E SCOMPARSA LOGO NETFLIX*/
        background-color: black;
        width: 230px;
        height: 230px;
        position: absolute;
        right: -165px;
        top: 50px;
        animation: img-dissolvenza 2.5s ease-in      forwards;
        rotate: 61deg;
}


@keyframes img-dissolvenza { /*ANIMAZIONE COMPARSA E SCOMPARSA LOGO NETFLIX*/
        
        0% {
            scale: 10;
        }
        40% {
            scale: 1;            
        }
        100% {
            scale: 10;           
        }
}
    
@keyframes img-fade { /* ANIMAZIONE OVERLAY LOGO NETFLIX*/
        
        0% {
            scale: 1; 
        }
        100% {
            scale: 50;
        }
    
}

@keyframes overlay-fade { /* ANIMAZIONE SFONDO NERO SFONDO NERO */ 
        from {
            opacity: 1; 
        }
        to {
            opacity: 0;
           z-index: 0;
        }
}

/* ANIMAZIONE DI INGRESSO*/  

/* MEDIA QUERY PER NAV BAR  100% RESPONSIVE */

@media screen and (min-width: 992px) { /* L'ICONA AVATAR DIVENTA 100% RESPONSIVE E FUORI DAL BURGER MENU, 
                                        SEMPRE A DX A QUALSIASI LARGHEZZA, IL BURGER MENU RIMANE FUNZIONANTE*/
    #bg-black #d-flex-mobile {
        position: absolute;
        top: 0;
        right: 15px;
    }
}

@media screen and (max-width: 992px) { /* DROPDOWN ICONA USER  */
    #bg-black .navbar-nav .dropdown-menu {
        position: absolute; 
    }
}
    
@media screen and (max-width: 400px) {          /* navbar in centro in caso di larghezze inferiori a 400px, 
                                                 logo netflix, img avatar e testo dei bottoni 
                                                 più piccoli in caso di larghezze inferiori a 400px*/
    #bg-black nav {
         justify-content: center;
     }
     #bg-black .img_avatar {
        width: 30px;
    }
    #bg-black .img_logo_netflix {
        width: 70px;
    }
    #bg-black .btn {
        font-size: 10px;
    }
}

@media screen and (max-width: 815px) { /* testi più piccoli con larghezze inferiori a 815px*/
    #bg-black h2 {
        margin-right: 15px;
        font-size: 25px;
        margin-block-end: 0;
    }
    #bg-black h3 {
        font-size: 20px;
    }
    
}
/* MEDIA QUERY PER NAV BAR  100% RESPONSIVE */

/*
/*
/* 

/* MEDIA QUERY PER RENDERE 100% RESP L'OVERLAY DEL LOGO NETFLIX IN FASE DI ANIMAZIONE*/

@media screen and (max-width: 992px) {  /* MEDIA QUERY PER RENDERE 100% RESP L'OVERLAY DEL LOGO SU TABLET*/
    .img-dissolvenza {
        animation: img-dissolvenza 3.2s ease-in      forwards;
    }
}
    
@media screen and (max-width: 450px) { /* MEDIA QUERY PER RENDERE 100% RESP L'OVERLAY DEL LOGO SU MOBILE*/
    .img-dissolvenza {
        animation: img-dissolvenza 3.4s ease-in      forwards;
    }

}

/* MEDIA QUERY PER RENDERE 100% RESP L'OVERLAY DEL LOGO NETFLIX IN FASE DI ANIMAZIONE*/

/*
/*
/**/


.img_avatar {
    width: 50px;
 }
.img_logo_netflix {
    width: 100px;
}

h2 {
	margin-right: 2em;
}
#bg-black {
    background-color: black;
}
 
.nav-link {
    transition: scale 0.2s ease-in-out;
}

#bg-black .nav-link:hover {
    color: white;
    scale: 1.05;
}

#bg-black .btn  {
	background-color: black;
	border: solid 1px rgba(255,255,255,.5);
}

#bg-black .btn:focus {
	box-shadow: unset;
}

 #bg-black .sticky-top { /* funzione sticky bootstrap, modificato lo z index, in modo che durante l'animazione non compaia la navbar*/
    z-index: 2;
    background-color: black;
}

#mr-after::after {
	margin-left: 1.4em;
}

.carousel-item img { 
    width: 100%; 
    padding: 0 3.5px;
    transition: scale 0.2s ease-in-out;
}

.carousel-item img:hover {
    scale: 1.1;
    z-index: 1;
    position: relative;
}

section .carousel-inner {
    overflow: visible ;
}   

section .carousel-control-prev, section .carousel-control-next {
    width: 5%; 
}

section {
	margin-top: 30px;
}

.bi .bi-text-left {
	border: 1px solid white;
}

#d-flex-mobile {
    display: flex;
    flex-direction: row;
}


.br-cp {
    border: 1px solid rgba(255,255,255,.5);;
    padding-inline: 15px;
    cursor: pointer;
    color: rgba(255,255,255,.5);
}
.br-cp:hover {
    
    color: black;
    background-color: white;
}


/*
/*
/* 

/* FOOTER */

footer {
    margin-top: 150px;
    font-size: 0.7em;
    
}

 #bg-black footer [type=button]  {
    border: 1px solid rgba(255,255,255,.5);;
    border-radius: unset;
    color: rgba(255,255,255,.5);
    font-size: 1em;
}

footer a {
    color: rgba(255,255,255,.5);
    
}
footer i {
    cursor: pointer;
}

footer a:hover {
    color: white;
    text-decoration: underline;
        
}

#bg-black footer [type=button]:hover  {
    background-color: white;
    color: black;
}

footer i {
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    footer a {
        font-size: 12px ;
    }
}
/* FOOTER */

/*
/*
/*

